@font-face {
    font-family: 'Inter-Medium';
    src: url(./fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(./fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(./fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url(./fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'SF-Pro-Rounded-Bold';
    src: url(./fonts/SF-Pro-Rounded-Bold.ttf);
}
@font-face {
    font-family: 'SF-Pro-Rounded-Semibold';
    src: url(./fonts/SF-Pro-Rounded-Semibold.ttf);
}
@font-face {
    font-family: 'SF-Pro-Rounded-Heavy';
    src: url(./fonts/SF-Pro-Rounded-Heavy.ttf);
}
@font-face {
    font-family: 'SF-Pro-Rounded-Regular';
    src: url(./fonts/SF-Pro-Rounded-Regular.ttf);
}
.text__Inter-Bold{
    font-family: 'Inter-Bold';
}
.text__Inter-Medium{
    font-family: 'Inter-Medium';
}
.text__SF-Pro-Rounded-Regular{
    font-family: 'SF-Pro-Rounded-Regular';
}
.text__Inter-Regular{
    font-family: 'Inter-Regular';
}
.text__Inter-SemiBold{
    font-family: 'Inter-SemiBold';
}
.text__SF-Pro-Rounded-Bold{
    font-family: 'SF-Pro-Rounded-Bold';
}
.text__SF-Pro-Rounded-Semibold{
    font-family: 'SF-Pro-Rounded-Semibold';
}
.text__SF-Pro-Rounded-Heavy{
    font-family: 'SF-Pro-Rounded-Heavy';
}
.bg__app__light{
    background-color: #F5F5F5;
    font-family: 'Inter-Regular';
}
.bg__app__dark{
    background-color: #373737;
    font-family: 'Inter-Regular';
}
.modal__app__light{
    background-color: #F5F5F5;
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
}
.modal__app__dark{
    background-color: #373737;
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
}
Spacing{
    opacity: 0.25;
}
.spacing{
    opacity: 0.25;
}
.card__app{
    border-radius: 20px;
    border: none;
    box-shadow: none;
    padding: 16px 8px;
}
.bg__init{
    background-color: #EBEBEB;
    border-radius: 25px;
    margin: 5px;
}
.bg__init__home{
    background-color: #E0E0E0;
    border-radius: 25px;
}
.center__y{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.center__x{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.text__gray{
    color:rgb(119, 119, 119)
}
.text__big{
    font-size: 1.4em;
}
.space__down{
    margin-bottom: 40px;
}
.w-100{
    width: 100%;
}
.highlight_on_touch:active{
    background-color: rgb(228, 228, 228);
    transition: 0.1s all linear;
}
.pollution__item{
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-column-gap: 20px;
}
.px-1{
    padding-left: 10px;
    padding-right: 10px;
}
.mt-4{
    margin-top:40px
}
.mt-1{
    margin-top:10px
}
.ml-2{
    margin-left: 20px;
}
.ml-1{
    margin-left:10px
}
.mr-1{
    margin-right:10px
}
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.px-3{
    padding-left:30px;
    padding-right: 30px;
}
.text__red{
    color:red
}

.good_bar {
    background: none;
    border-radius: 20px;
    height: 7px;
    width: 100%;
    border: none;
    overflow: hidden;
  }
.good_bar::-webkit-progress-value {
    background-color: #2BCC4F;
  }
.good_bar::-webkit-progress-bar {
    background: #D8D8D8;
  }
  .okay_bar {
    background: none;
    border-radius: 20px;
    height: 7px;
    width: 100%;
    border: none;
    overflow: hidden;
  }
.okay_bar::-webkit-progress-value {
    background-color: #FFB545;
  }
.okay_bar::-webkit-progress-bar {
    background: #D8D8D8;
  }
.bad_bar {
    background: none;
    width: 100%;
    border-radius: 20px;
    height: 7px;
    border: none;
    overflow: hidden;
  }
.bad_bar::-webkit-progress-value {
    background-color: #EF462F;
  }
.bad_bar::-webkit-progress-bar {
    background: #D8D8D8;
  }

.text__gray{
    color:#C1C1C1;
}
.text__small{
    font-size: 0.9em;
}
.ml-1{
    margin-left:10px
}
.badge{
    border-radius: 10px;
    padding: 7px;
    color: white;
    min-width: 30px;
    display: flex;
    justify-content: center;
}
.bg__danger{
    background-color: #EF462F;
}
.bg__good{
    background-color: #2BCC4F;
}
.bg__okay{
    background-color: #FFB545;
}
.bg__gray{
    background-color: #818181;
}
.card{
    border-radius: 20px;
    box-shadow: 0.1px 0.1px gray;
    margin:15px;
    min-height: 200px;
}
.text__dark_gray{
    color: #7A7A7A
}
.d-flex{
    display: flex;
}
.pt-2{
    padding-top:20px
}
.pb-2{
    padding-bottom: 20px;
}
.px-2{
    padding-right: 20px;
    padding-left: 20px
}



















.home__good__weather{
background: linear-gradient(-180deg, #B3FF86 0%, #EEFFC8 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
.home__bad__weather{
    background: linear-gradient(-180deg,
    rgba(255,153,182,1),rgba(204,183,254,1));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
.home__okay__weather{
    background: linear-gradient(-180deg,
    #FDCFB2,#BF8FF5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0%{
        background-position: 0 65%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 65%;
    }
}

.home__search__cell__rounded{
    border-radius: 20000px;
    width: 50px;
}
.home__search__cell__rounded_active:active{
    background-color: rgb(167, 167, 167);
    opacity: 0.7;
    transition: 0.1s all linear;
}
.home__main__title{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.home__main__bottom__side{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home__main__bottom__right__side{
    display: flex;
    position: relative;
    left: calc(100% - 110px);
}

 
.home__map__bottom{
    position:relative;
    z-index:1;
    display:flex;
    bottom:70px;
    width:100%;
    justify-content:center;
    color:white
}

.home__map__button{
    background:gray;
    display:flex;
    padding:10px;
    border-radius:25px;
    opacity:0.8;
    transition: 1s all linear;
}

.home__map__button_active:active{
    box-shadow: 1px 1px 1px black;
    transition: 0.1s all linear;
    background-color: rgb(100, 99, 99);
}